h1 {
    color:brown;
   text-align: center;
   font-size: 50px; 
   border: 2px solid white;
   width:9vw;
}

body {
    background-color:black;
    color:chartreuse
}

h2{
    text-align: center;
    font-size: 30px;
    color:mediumblue
}
p{
    font-size: 20px;
}
.main-header{
    color:darkgoldenrod; 
}
.main-paragraph{
    color:aqua;
}

.main-picture{
    margin-top: 60px;
    width: 800px;
    height: 500px;
}

.secondary-picture{
    width:800px;
    height:480px;
    margin-left: 1000px;
    margin-top: -520px;
  }

