body {
  background-color: black;
  color: white;
  font-size: 20px;
  font-family: "Signika Negative", sans-serif;
}

*,
body,
html {
  box-sizing: border-box;
}

h1 {
  color: white;
  font-size: 50px;
  text-align: center;
}

h2 {
  font-size: 40px;
  margin-top: 100px;
  margin-left: 180px;
  padding: 8px;
  color: lawngreen;
}

a {
  font-size: 30px;
  color: lightseagreen;
  text-align: center;
}

.background {
  background-color: darkgreen;
  width: 25vw;
}

img {
  height: 300px;
  width: 300px;
  margin-left: 65px;
}

.main-paragraph {
  margin-bottom: 10px;
}

.second-thing {
  color: aqua;
  font-size: 40px;
  margin-left: 160px;
  padding: 8px;
}

.secondary-background {
  background-color: blue;
  width: 25vw;
  margin: 8px auto;
}

.third-thing {
  color: gold;
  font-size: 40px;
  margin-top: 750px;
  margin-left: 140px;
  padding: 8px;
}

.third-background {
  background-color: rgba(173, 152, 33, 0.811);
  width: 25vw;
  margin: 10% auto;
}
